* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
body {
  font-family: "Roboto";
  background-image: url("./img/autunno.jpeg");
  background-size: cover;
}
.d-flex {
  display: flex;
}
.container {
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
}
nav {
  background-color: #889569;
}
nav a {
  padding: 15px;
  margin-left: 20px;
  text-align: center;
  text-decoration: none;
  color: black;
}
.card {
  margin: 40px;
  border: 1px solid #889569;
  border-radius: 10px;
  background-color: #f0d4be;
}
.col-3 {
  width: 400px;
  padding: 30px;
}

h3,
p {
  padding: 20px;
}
.card h1 {
  font-size: 2rem;
}
